<footer>
  <div class="footer-container">
    <div class="footer-left">
      <span class="footer-copy">© {{ site.time | date: "%Y" }} SABURO™</span>
    </div>
    <div class="footer-center">
      {% include btn-saburo.html label='💛 Підтримати Мене' visual='pill' width='auto' height=32 radius=28 href='https://iamsaburo.github.io/support-info' %}
    </div>
    <div class="footer-right">
      <a href="https://iamsaburo.github.io/i-recommend-info" class="footer-link">Рекомендую</a>
    </div>
  </div>
</footer>