<nav class="navbar">
  <div class="nav-container">
    <div class="nav-left">
      <a href="/" class="nav-brand">
        <img src="{{ '/svg/logo_symbol.svg' | relative_url }}" width="24" height="24" alt="лого" class="ph-img">
        <div class="nav-wordmark{% if page.back_url %} nav-wordmark--info{% endif %}">
          <img src="{{ '/svg/logo_word-mark.svg' | relative_url }}" width="97" height="21" alt="SABURO" class="ph-img">
          {% unless page.back_url %}
          <span class="nav-tagline"><span class="sep">|</span>Корисне</span>
          {% endunless %}
        </div>
      </a>

      {%- assign btn_back_url = include.back_url | default: page.back_url -%}
      {%- assign btn_back_label = include.back_label | default: page.back_label | default: 'Головна' -%}
      {% if btn_back_url %}
        {% include btn-saburo.html
           label=btn_back_label
           visual='pill'
           icon_visual='arrow_back'
           icon_hover='arrow_back'
           width='auto'
           height=32
           radius=28
           href=btn_back_url
           class='nav-back-btn'
        %}
      {% endif %}
    </div>

    <div class="nav-right">
      <span class="nav-join">Приєднуйся:</span>
      <div class="social-row">
        <a href="https://www.twitch.tv/saburo_ua" target="_blank" rel="noopener" title="Twitch"><img src="{{ '/svg/sm_twitch.svg' | relative_url }}" width="14" height="16" alt=""></a>
        <a href="https://t.me/saburo_ua" target="_blank" rel="noopener" title="Telegram"><img src="{{ '/svg/sm_telegram.svg' | relative_url }}" width="17" height="14" alt=""></a>
        <a href="https://discord.gg/kcqHYQ9dSf" target="_blank" rel="noopener" title="Discord"><img src="{{ '/svg/sm_discord.svg' | relative_url }}" width="17" height="13" alt=""></a>
        <a href="https://youtube.com/@saburo_ua" target="_blank" rel="noopener" title="YouTube"><img src="{{ '/svg/sm_youtube.svg' | relative_url }}" width="17" height="12" alt=""></a>
        <a href="https://tiktok.com/@saburo_ua" target="_blank" rel="noopener" title="TikTok"><img src="{{ '/svg/sm_tiktok.svg' | relative_url }}" width="12" height="14" alt=""></a>
      </div>
    </div>
  </div>
</nav>
