<div class="tab-inner" markdown="1">

## Hello World

{::nomarkdown}
{% include btn-saburo.html label="Hello World" visual="outline" %}
{:/}

---

## 4 типи кнопок

<div style="display:flex;flex-wrap:wrap;gap:20px;align-items:center;" markdown="1">

{::nomarkdown}
{% include btn-saburo.html label="Outline" visual="outline" %}
{% include btn-saburo.html label="White" visual="white" %}
{% include btn-saburo.html label="Rainbow" visual="rainbow" %}
{% include btn-saburo.html label="Pill" visual="pill" %}
{:/}

</div>

### З іконками

{::nomarkdown}
{% include btn-saburo.html label="З іконкою" visual="outline" icon_visual="favorite" %}
{% include btn-saburo.html label="Іконка після" visual="rainbow" icon_visual="arrow_forward" icon_position="after" %}
{:/}

### Ширина за вмістом

{::nomarkdown}
{% include btn-saburo.html label="Автоширина" visual="pill" width="auto" %}
{:/}

</div>